
.App {
  display: flex;
  flex-direction: column;
}
.flex_center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex {
  display: flex;
}
.flex_space_between {
  justify-content: space-between;
}
.flex_column {
  flex-direction: column;
}
.full_width {
  width: 100%;
}
.full_screen {
  width: 100%;
  height: 100%;;
}
.flex_end {
  justify-content: flex-end;
}
.form_page {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.form_block {
  width: 650px;
  box-shadow: 0 21px 40px 0 rgba(0,0,0,.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.form_group {
  width: 100%;
}
.field {
  width: 100%;
}
.form_group:not(:first-child) {
  margin-top: 35px;
}
.hidden_input {
  display: none;
}
.form_text {
  padding-bottom: 10px;
}
.form__title {
  font-family: Roboto;
  font-size: 30px;
}
.wrapper_loader {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.preloader_text {
  font-family: Roboto;
  color: darkgray;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form_label{ 
  font-family: Roboto;
}
.form_label:not(:first-child) {
  margin-top: 10px;
}
.form_select  {
  height: 50px;
  font-family: Roboto;
}
.add_group {
  margin-top: 20px;
  cursor: pointer;
}
.add_group:hover {
  opacity: 0.6;
  transition: 0.5s ease-in;
}
.add_intro {
  font-family: Roboto;
  font-size: 12px;
}
.addIcon {
  margin-left: 10px;
}
.group__block:not(:first-child) {
  margin-top: 20px;
}
.dispaly_none {
  display: none;
}
.title_group {
  font-size: 16px;
  font-family: Roboto;
}
.title_group {
  margin-top: 20px;
}
.hidden {
  visibility: hidden;
}
.select {
  margin-top: 50px;
}
.error {
  border-bottom: 2px solid #fc1303;
}
.errorMessage {
  margin-top: 5px;
  color: #fc1303;
  font-size: 14px;
  font-family: Roboto;
}
.next_button {
  margin-top: 10px;
}
.mg_top_btns {
  margin-top: 10px;
}
.left_btn_margin {
  margin-left: 20px;
}