
@keyframes showAdd {
  from {
    transform: translateY(calc(100% + 130px)); 
  }
  to {
    transform: translateY(0); 
  }
}
@keyframes goOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.App {
  display: flex;
  flex-direction: column;
}
.flex_center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex {
  display: flex;
  align-items: baseline;
}
.flex_space_between {
  justify-content: space-between;
}
.flex_column {
  flex-direction: column;
}
.full_width {
  width: 100%;
}
.full_screen {
  width: 100%;
  height: auto;
}
.flex_end {
  justify-content: flex-end;
}
.form_page {
  width: 100%;
  box-sizing: border-box;
}
.form_block {
  width: 650px;
  box-shadow: 0 21px 40px 0 rgba(0,0,0,.19);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.animate_group {
  animation: showAdd 0.5s ease-in;
}
.form_group {
  width: 100%;
}
.field {
  width: 100%;
}
.form_group:not(:first-child) {
  margin-top: 35px;
}
.hidden_input {
  display: none;
}
.form_text {
  padding-bottom: 10px;
}
.form__title {
  font-family: Roboto;
  font-size: 30px;
  margin-top: 30px;
}
.wrapper_loader {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form_label{ 
  font-family: Roboto;
}
.form_label:not(:first-child) {
  margin-top: 10px;
}
.form_select  {
  height: 50px;
  font-family: Roboto;
}
.add_group {
  margin-top: 20px;
  cursor: pointer;
}
.add_group:hover {
  opacity: 0.6;
  transition: 0.5s ease-in;
}
.add_intro {
  font-family: Roboto;
  font-size: 12px;
}
.addIcon {
  margin-left: 10px;
}
.group__block:not(:first-child) {
  margin-top: 20px;
}
.dispaly_none {
  display: none;
}
.title_group {
  font-size: 16px;
  font-family: Roboto;
}
.title_group {
  margin-top: 20px;
}
.hidden {
  visibility: hidden;
}
.select {
  margin-top: 50px;
}
.error {
  border-bottom: 2px solid #fc1303;
  width: 100%;
}
.error::before {
  border-bottom: none!important;
}
.error_message {
  margin-top: 5px;
  color: #fc1303;
  font-size: 14px;
  font-family: Roboto;
  margin-top: 10px;
}
.next_button {
  margin-top: 10px;
}
.left_btn_margin {
  margin-left: 20px;
}
.wrapper {
  height: 100%;
}
.button {
  background: #00A8EA;
  border-radius: 4px;
  min-width: 70px;
  height: 45px;
  font-size: 16px;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  animation: goOpacity 0.6s ease-in;
  color: #003d5c;
  margin-bottom: 20px;
  margin-top: 20px;
}
.button:hover {
  opacity: .6;
  transition: 0.5s;
}
.help_list {
  height: auto;
  width: 100%;
}
.model_name {
  font-family: Roboto;
  border-bottom: 1px solid #000;
  margin-top: 5px;
}
.model_name:hover {
  opacity: .6;
  transition: 0.5s;
  cursor: pointer;
}
.button_add {
  font-size: 13px;
  position: relative;
}
.button_add::after {
  position: absolute;
  content: '+';
  color: #003d5c;
  font-size: 32px;
  font-weight: 100;
  font-family: Roboto;
}
.button_delete_margin_left::after {
  position: absolute;
  content: '-';
  font-size: 32px;
  font-weight: 100;
  font-family: Roboto;
  color: #003d5c;
}
.button_delete_margin_left {
  margin-left: 10px;
}
.error_empty:not(p) {
  border: 1px solid #FF0000;
}
p.error_empty {
  color: #FF0000;
}
.error_empty::before {
  border: none;
}
.loader_button {
  height: 60px;
  width: 60px;
}
.Mui-focused {
  border-bottom: 1px solid #00A8EA;
}
.wrapper_loader, .full_screen {
  height: 100%;
}
@media (max-width: 1025px) {
  .full_screen {
    overflow-x: hidden;
  }
}
@media (max-width: 723px) and  (min-width: 400px) {
  .form_block {
    width: 400px;
    overflow-x: hidden;
  }
}
@media (max-width: 399px) and  (min-width: 300px) {
  .form_block {
    width: 300px;
  }
}